@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
/*CSS RESET*/
:root{
    --cor_primaria:#004B89;
    --cor_secundaria:#318ad3;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Madimi One", sans-serif;

}
.conteudo{
    text-align: center;
    color:#0919eeb7;
    font-size: 28px;
    margin-top: 20px;
    font-weight: 700;   
} 
